<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		
		<%= 13 %> + <%= 14 %>
		<!-- 输出时可以加html -->

		<% var str = '<div></div>'; %>
		
		<!-- =是转义输出，-是不转义输出 -->
		
		<%= str %>

		<%- str %>

	</div>
</body>
</html>