
html
	head
		title
			script(src="a.js")
			link(href="a.css",rel="stylesheet")
			body
				input(type="text",id="txt" value="input1")
				.hello(style="background:red;color:#fff;") hello world
				.world(style={background:'red',color:'#fff'}) world
				div(class="aaa bbb ccc")
				div(class=['aa','bbb','bbb'])
					
